body{
    background-image: url(../image/drip.png);
    background-color: #EA9C9C;
    /* background-size: auto; */
}

.login{
    background-color: #F5D1D0;
    margin-top:400px;
    margin-left: 350px;
    width: 1000px;
    height: 240px;
    box-shadow: -17px -10px 0px 0px rgba(123,84,62,1);
}

.login button{
    background-color:  #7B543E;
    color: #F5F2D4;
}

form{
    margin-top: 10px;
    margin-right: 20px;
}