body{
    background-image: url(../image/drip.png);
}

h5, label{
    color: #7B543E;
}

.regis{
    background-color: #F5D1D0;
    margin-top:280px;
    margin-left: 150px;
    box-shadow: -12px -10px 0px 0px rgba(123,84,62,1);
}

.regis button{
    background-color:  #7B543E;
    color: #F5F2D4;
}